# Build results
[Dd]ebug/
[Rr]elease/
bin/
obj/

# Visual Studio files
.vs/
*.suo
*.user
*.log
*.bak
*.cache
*.ncb
*.opendb
*.pdb
*.resharper

# Package files
packages/
*.nupkg

# Test results
TestResults/

# Other
Thumbs.db
/StargateAPI/starbase.db
/StargateAPI/starbase.db-shm
/StargateAPI/starbase.db-wal
